# Prerequisites
*.d

# Object files
*.ko
*.elf

# Linker output
*.exp

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.exe
*.app
*.i*86
*.x86_64

# Debug files
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
